.wrapper {
  display: flex;
  text-align: center;
}
.opcoes {
  width: 20%;
  background-color: #36343b;
  color: #eae8ed;
  padding: 30px 0px;
  margin-top: -3%;
  font-size: 24px;
}
.opcoes p{
  font-size: 16px;
}

.opcoes li {
  cursor: pointer;
  padding: 12% 0%;
  border-bottom: 1px solid #ccc;
}

.opcoes li.selected {
  opacity: 0.4; /* Opacidade para indicar que está selecionado */
}

.conteudo {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
}
.imagem{
  width: 60%;
}
.conteudo p{
  font-size: 20px;
  text-align: center;
  width: 90%;
  padding-left: 10%;
  line-height: 2;
  padding-top: 5%;
}
.conteudo h1, .conteudo iframe, .conteudo img{
  padding-top: 5%;
}
.rotina{
  width: 80%;
}

